option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: 7
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production

commands:
  01_make_env_vars:
    command: |
      if [ ! -f .env ]; then
        cp backend/.env.example .env
      fi

container_commands:
  01_install_backend:
    command: cd backend && npm install --production
    leader_only: true
